.body{
    box-sizing: border-box;
    margin:30px;
}

.footer{
    background-color: #212529;
    color:white;
    text-align: center;
    padding-top:20px;
    padding-bottom:10px;
  
}


.errormsg{
    color:red;
}